<ul class="nav nav-pills sub-nav">
  <li>
    <nav class="vendor-breadcrumb">
      <ol class="cd-breadcrumb narrow triangle custom-icons">
        <li class="home"><a href="<%= admin_bundles_path %>"><i class="fa fa-cubes" aria-hidden="true">&nbsp;</i> Bundles</a></li>
        <li class="current"><a href="javascript:;"><%= @bundle.title.blank? ? "New Bundle" : @bundle.title %></a></li>
      </ol>
    </nav>
  </li>
</ul>

<div class="form-container container">
  <div class="grid-card">
    <div class="actions">
      <ul class="tab-list">
        <li role="presentation">
          <a class="tab active" href="javascript:;"><%= @bundle.title.blank? ? "New Bundle" : @bundle.title %></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-content">
    <div class="row">
      <div class="col-md-12">
        <% if @bundle.errors.any? %>
          <br/>
          <div class="alert alert-danger">
            <strong>Please fix the errors below:</strong>
            <ul>
            <% @bundle.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= react_component("BundleForm", {bundle: @bundle}) %>
      </div>
    </div>
  </div>
</div>

<%= tinymce(:default) %>