<ul class="nav nav-pills sub-nav">
  <li>
    <nav class="vendor-breadcrumb">
      <ol class="cd-breadcrumb narrow triangle custom-icons">
        <li class="home"><a href="<%= admin_products_path %>"><i class="fa fa-cubes" aria-hidden="true">&nbsp;</i> Products</a></li>
      </ol>
    </nav>
  </li>
</ul>

<div>
  <div class="grid-container container">
    <div class="grid-card">
      <div class="actions">
        <ul class="tab-list">
          <li role="presentation">
            <a class="tab active" href="/admin/products">All Products</a>
          </li>
        </ul>
      </div>
      <div class="grid-content">
        <% if @products.count == 0 %>
          <div class="row">
            <div class="col-md-offset-4 col-md-4 empty-placeholder">
              There are no products in shop.
            </div>
          </div>
        <% else %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th class="avatar-head"></th>
                <th>Title</th>
                <th>Price</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td></td>
                  <td scope="row">
                    <%= link_to admin_product_path(product), class: 'avatar' do %>
                      <!-- Product thumb -->
                      <%= image_tag(product.image.thumb.url, size: "60x60", alt: "Avatar") %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to admin_product_path(product) do %>
                      <%= product.title %>
                    <% end %>
                  </td>
                  <td>
                    $<%= product.price %>
                  </td>
                  <td>
                    <%= link_to product_path(product), method: :delete, class: 'danger', data: {confirm: 'Product will be permanently deleted from Shopify store. Are you sure you want to delete?'} do %>
                      <i class="fa fa-trash"></i>
                      Remove
                    <% end %>
                  </td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
