<!DOCTYPE html>
<html lang="en">
   <head>
      <title>EntMe Admin</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'admin_application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=9t97wiw90jsjehcw07r2e5mz6yt8o6cbrebxrafbbpj5qhi8"></script>
   </head>
   <body cz-shortcut-listen="true" class="admin">
      <%= render "layouts/header" %>
      <%= flash_messages %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
              <div class="container">
                <div class="navbar-header">
                  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                  <ul class="nav navbar-nav">
                    <li class="<%= 'active' if controller?('admin/orders') %>">
                      <a href="/admin/orders"><i class="fa fa-shopping-bag" aria-hidden="true">&nbsp;</i> Orders</a>
                    </li>
                    <li class="<%= 'active' if controller?('admin/bundles') %>">
                      <a href="/admin/bundles"><i class="fa fa-tags" aria-hidden="true">&nbsp;</i> Bundles</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="<%= new_admin_bundle_path() %>"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i> New Bundle</a>
                        </li>
                      </ul>
                    </li>
                    <li class="<%= 'active' if controller?('admin/products') %>">
                      <a href="/admin/products"><i class="fa fa-cubes" aria-hidden="true">&nbsp;</i> Products</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="<%= new_admin_product_path(type: :film) %>"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i> New Film</a>
                        </li>
                        <li>
                          <a href="<%= new_admin_product_path(type: :music) %>"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i> New Music</a>
                        </li>
                        <li>
                          <a href="<%= new_admin_product_path(type: :game) %>"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i> New Game</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-sm-9 col-lg-10 main-container">
            <%= yield %>
          </div>
          </div>
      </div>
   </body>
</html>
