<!DOCTYPE html>
<html lang="en">
   <head>
      <title>EntMe</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
   </head>
   <body cz-shortcut-listen="true">
      <main id="page-content" class="wrap container">
         <!-- Nav bar header -->
         <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href=<%=root_path%> ><i class="fa fa-cube"></i> Ent-Me!</a>
               </div>
               <div class="navbar-right navbar-utils">
                  <ul class="list-unstyled clearfix">
                    <%if current_user %>
                       <li class="hidden-xs">
                          <%=link_to "Sign out", destroy_user_session_path, method: "DELETE", class: "btn"%>
                       </li>
                    <%else%>
                      <% if controller_name != 'sessions' %>
                       <li class="hidden-xs">
                          <a href=<%=new_user_session_path%> class="btn"><span>sign in</span></a>
                       </li>
                      <%end%>

                      <% if controller_name != 'registrations' %>
                       <li class="hidden-xs">
                          <a href=<%=new_user_registration_path%> class="btn"><span>sign up</span></a>
                       </li>
                       <%end%>
                    <%end%>


                     <li id="navbar-totals" class="totals">
                        <span class="hidden-xs js-item-count">0 Items</span>
                        <span class="visible-lg">$0</span>
                        <span class="visible-xs item-number">0</span>
                     </li>



                     <li class="dropdown js-cart-dropdown">
                        <a href="shop.html" data-toggle="dropdown" class="btn btn-primary cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div id="mini-cart" class="dropdown-menu">
                           <ul class="cart-items list-unstyled hidden-xs">
                           </ul>
                           <div class="mini-cart-totals">
                              <h4 class="subtotal js-subtotal">Subtotal: $0.00</h4>
                              <a class="btn btn-default btn-lg" href=<%=carts_path%> >View Cart</a>
                              <a class="col-xs-12 btn btn-danger solid btn-lg" href="shop.html">Checkout</a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="navbar-collapse collapse">
                  <div class="navbar-left">
                     <ul id="main-nav" class="nav navbar-nav">
                        <% Product::TYPES.each do |type| %>
                          <li class="dropdown <%='active' if @type == type.pluralize%>">
                             <a href=<%=type_products_path(type.pluralize)%>>
                              <%=type.pluralize%>
                             </a>
                          </li>
                        <%end%>
                        <li class="visible-xs col-xs-12">
                           <a href="shop.html" class="btn btn-default">Login <i class="fa fa-lock"></i></a>
                        </li>
                     </ul>
                  </div>
                  <form id="search-form" class="navbar-form" role="form" method="get" action=<%=search_products_path%>>
                     <div class="input-group" style="width:100%">
                        <input type="text" class="search-form form-control" name="keyward" id="query" placeholder="Type your search term and press Enter" autocomplete="off" value=<%=@search%>>
                        <span class="input-group-btn" style="width: 10px;">
                        <button class="btn search-btn toggle hidden-xs hidden-sm" type="button"><i class="fa fa-search"></i></button>
                        <button class="btn search-btn hidden-md hidden-lg" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                     </div>
                     <!-- /input-group -->
                  </form>
               </div>
               <!--/.navbar-collapse -->
            </div>
         </nav>
         <!-- end Nav bar header -->
       <%if notice%>
        <p class="notice"><%= notice %></p>
       <%end%>
       <%if alert%>
        <p class="alert"><%= alert %></p>
       <%end%>

         <%= yield %>

      </main>
      <div class="container padding0">
        <footer id="page-footer">
           <div class="container">
              <div class="footer-contact text-center row">
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <a href="javascript:;"><i class="fa fa-envelope-o"></i>info@rubikal.com</a>
                 </div>
                 <div class="col-xs-12 col-sm-4 col-lg-2">
                    <a href="javascript:;"><i class="fa fa-phone"></i>+2 (0100) 2715-360</a>
                 </div>
                 <div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
                    <a class="facebook" href="javascript:;"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="javascript:;"><i class="fa fa-twitter"></i></a>
                    <a class="gplus" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                 </div>
              </div>
              <div class="footer-info wrap row">
                 <div class="col-sm-6">
                    <ul class="list-unstyled">
                       <li>&copy; Rubikal! 2017</li>
                       <li><a href=<%=about_path%>>About</a></li>
                    </ul>
                 </div>
                 <div class="col-sm-6">
                    <p class="love">Made with <i class="glyphicon glyphicon-heart-empty"></i> Rubikal</p>
                 </div>
              </div>
           </div>
        </footer>
      </div>
   </body>
</html>
